doctype html
html(lang='en')
  include ../layout/head.pug
  body
    main
      .wpapper
        
        .logo
          img(src="img/logo.png" alt="logo")
        h1 Приносим свои извинения, 
          br
          | на сайте ведутся технические работы 
          
        .img
         img(src="img/men.png" alt="men")
        
        .text
          p Это может занять некоторое время
          p Пока наши специалисты решают проблему, вы можете связаться с нами следующими способами:

        .contacts
          .phone
            a(href="tel:83832913800") 8 (383) 291-38-00
            p (Пн.-Пт. с 9:00 до 18:00 по НСК)
          .mail
            a(href="mailto:mail@sibac.info") mail@sibac.info
      .footer
        p © Sibac.info 2017. Все права защищены.
        p Это произведение доступно по лицензии Creative Commons «Attribution» («Атрибуция») 4.0 Непортированная.
